*.lo
*.la
autom4te.cache/
build/
modules/
.libs/
.deps
Makefile*
acinclude.m4
aclocal.m4
config.guess
config.h*
config.log
config.nice
config.status
config.sub
configure*
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
run-tests.php

.phpenv-version
php_test.sh
extras/
